<header>
    <div class="header-container">
     <div class="logo-block">
      <div class="logo">
        <img src="assets/logo.png" alt="Logo"> <!-- Replace with your logo -->
      </div>
     </div>
     <div class="header-right">
      <div class="header-actions">       
        <div class="language-selector">
        <a href="#"><img src="../../assets/search.png"></a>  <a href="#" class="lang-btn">ENGLISH</a> | <a href="#" class="lang-btn">SPANISH</a><a href="#">Customer Service</a>
        </div>
        <div class="logout">
          <button class="logout-btn">Logout</button>
        </div>
      </div>
      <nav class="navbar">
        <ul class="nav-links">
          <li><a href="#">Home</a></li>
          <li><a href="#">Payments</a></li>
          <li><a href="#">Statement & Activity</a></li>
          <li><a href="#">Vehicles</a></li>
          <li><a href="#">Documents</a></li>
          <li><a href="#">My Account</a></li>
        </ul>
      </nav>
  
     
     </div>
  
      
    </div>
  </header>
  