<div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <h2 class="text-center" style="text-align: center;">User Login</h2>
        <label for="username">Username</label>
        <input id="username" formControlName="username" type="text" />
        <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
          <small *ngIf="loginForm.get('username')?.errors?.['required']">Username is required.</small>
          <small *ngIf="loginForm.get('username')?.errors?.['minlength']">Minimum 3 characters required.</small>
        </div>
      </div>
  
      <div>
        <label for="password">Password</label>
        <input id="password" formControlName="password" type="password" />
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          <small *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</small>
          <small *ngIf="loginForm.get('password')?.errors?.['minlength']">Minimum 6 characters required.</small>
        </div>
      </div>
  
      <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
    <!-- Admin Login Hyperlink -->
   <div style="text-align: center; margin-top: 10px;">
    <a [routerLink]="'/admin-login'">Admin Login</a> <!-- Using routerLink for internal navigation -->
  </div>
  </div>
  